.cabeçalho__menu-hambrguer {
    width: 24px;
    height: 24px;
    background-image: url("../img/menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;

}

.cabeçalho{
    background-color: var(--branco);
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    align-items: center ;
}

.container___imagem {
    padding: 1em;
}

